@charset "UTF-8";

/* Formatação do Fundo da Página */
body {
    background-image: linear-gradient(to right, #cc22ff, #000000, #000000);
    width: 600px;
    height: 1200px;
    border-radius: 25px;
};
/* Formatação da Caixa de Texto */
input {
    width: 400px;
};

/* Responsividade */
@media screen and (max-width: 900) {
    body {
        background-image: linear-gradient(to right, #cc22ff, #000000, #000000);
        width: 900px;
        height: 1800px;
        border-radius: 25px;
    };

    input {
        width: 540px;
    };
}